{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_users_details'|trans({'%id%': usersdata.id|default('')}) }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <h2>{{ 'title_users_details'|trans({'%id%': usersdata.id|default('')}) }}</h2>
    {% if usersdata is defined and usersdata|length %}
        <dl>
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ usersdata.user.id }}</dd>
            <dt>{{ 'label_firstname'|trans }}</dt>
            <dd>{{ usersdata.firstname }}</dd>
            <dt>{{ 'label_lastname'|trans }}</dt>
            <dd>{{ usersdata.lastname }}</dd>
            <dt>{{ 'label_email'|trans }}</dt>
            <dd>{{ usersdata.user.email }}</dd>
            <dt>{{ 'label_password'|trans }}</dt>
            <dd>{{ usersdata.user.password }}</dd>
        </dl>
        <p>
            <a href="{{ url('users_index') }}" title="back to the list">
                &#11013;{{ 'button_back'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}