{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_task_details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <h2>{{ 'title_task_details'|trans({'%id%': task.id|default('')}) }}</h2>
    {% if task is defined and task|length %}
        <dl>
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ task.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ task.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ task.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  task.categories.name }}</dd>
            <dt>{{ 'label_priority'|trans }}</dt>
            <dd>{{  task.priority }}</dd>
            {% if is_granted('ROLE_ADMIN') %}
                <dt>{{ 'label_author'|trans }}</dt>
                <dd>{{  task.author.email }}</dd>
            {% endif %}
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  task.title }}</dd>
            <dt>{{ 'label_comment'|trans }}</dt>
            <dd>{{  task.comment }}</dd>
        </dl>
        <p>
            <a href="{{ url('task_index') }}" title="back to the list">
                &#11013;{{ 'button_back'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}