{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}
{% block body %}
    {% block header %}
        <h1>&#128195;{{ 'virtual_note'|trans }}</h1>
    {% endblock %}
    {% if is_granted('ROLE_USER') %}
        <div id="menu">
            <nav>
                <ul>
                    <li id="todo">{{ 'title_notes_list'|trans }}
                        <ul id="pod">
                            <li><a href="{{ url('notes_index') }}" title="notes list">{{ 'button_view'|trans }}</a></li>
                            <li><a href="{{ url('notes_create') }}" title="note create">{{ 'add'|trans }}</a></li>
                        </ul>
                    </li>
                    <li id="task">{{ 'title_task_list'|trans }}
                        <ul id="pod">
                            <li><a href="{{ url('task_index') }}" title="tasks list">{{ 'button_view'|trans }}</a></li>
                            <li><a href="{{ url('task_create') }}" title="task create">{{ 'add'|trans }}</a></li>
                        </ul>
                    </li>
                    <li id="categories">{{ 'title_categories_list'|trans }}
                        <ul id="pod">
                            <li><a href="{{ url('categories_index') }}" title="categories list">{{ 'button_view'|trans }}</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ url('categories_create') }}" title="category list">{{ 'add'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li id="tags">{{ 'title_tags_list'|trans }}
                        <ul id="pod">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ url('tags_index') }}" title="tags list">{{ 'button_view'|trans }}</a></li>
                            {% else %}
                                <li><a href="{{ url('tags_index') }}" title="tags list">{{ 'button_view'|trans }}</a></li>
                                <li><a href="{{ url('tags_create') }}" title="tag create">{{ 'add'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li id="usr">{{ 'title_users_list'|trans }}
                            <ul id="pod">
                                <li><a href="{{ url('users_index') }}" title="users list">{{ 'button_view'|trans }}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <div id="sign">
                    {% if app.user %}
                        <li id="log">
                            &#128100; <a href="{{ url('users_show', {id: app.user.id}) }}" title="show user">{{ app.user.username }}</a>
                                <ul id="pod">
                                    <li><a href="{{ url('users_edit', {id: app.user.id}) }}">{{ 'button_user_edit'|trans }}</a></li>
                                    <li><a href="{{ path('app_logout') }}">{{ 'button_log_out'|trans }}</a></li>
                                </ul>
                        </li>
                    </div>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% else %}
        <div id="menu">
            <nav>
                <ul>
                    <li><a href="{{ url('app_login') }}" title="login">{{ 'sign_up'|trans }}</a></li>
                    <li><a href="{{ url('registration_register') }}" title="register">{{ 'register'|trans }}</a></li>
                </ul>
            </nav>
        </div>
    {% endif %}
    <br>
    <br>
    <br>
{% endblock %}